[Unit]
Description=Fix Temporary failure in name resolution

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env bash /home/zoef/fix_resolv.sh

[Install]
WantedBy=multi-user.target
